django-env/*
django-env

.env
.*env
*.env

static
static/

# Ignore all Python migration files in any migrations folder
*/migrations/*.py
# But do not ignore the __init__.py file to ensure the migrations directory is treated as a Python package
!*/migrations/__init__.py


__pycache__/*
__pycache__

*.pyc

